/* You can add global styles to this file, and also import other style files */
:root {
  --light: #f5f5f5;
  --blue: #336699;
  --dark: #444;
}

body {
 font-family: Arial, Helvetica, sans-serif;
 background-color: var(--light);
 margin: 0;
 color: #888;
}

h1 {
  color: var(--blue);
  font-size: 250%;
}
h2,
h3 {
  font-weight: lighter;
  color: var(--dark);
}
